.reviewPageContainer {
  margin-top: 50px;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.reviewContainer {
  display: flex;
  flex: 1; /*남은 공간 모두 차지*/
  flex-direction: column;
  padding: 30px;
  margin-right: 100px;
  align-items: center;
}
.saveButton {
  align-self: flex-start;
  margin-top: 30px;
  margin-left: 30px;
  background: none;
  border: none;
  color: #555;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
.feedback-slideId {
  display: flex;
  gap: 10px;
  z-index: 99991;
}
.slide-button {
  padding: 6px 12px;
  border-radius: 4px;
  background: #eee;
  cursor: pointer;
  font-size: 14px;
}
.slide-button.active {
  background: #7a8cff;
  color: white;
  font-weight: bold;
}
.feedbackContainer {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 15px;
  background-color: #d9d9d9;
  padding: 20px 30px;
  border-radius: 8px;
  width: fit-content;
}
.feedback-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  min-width: 650px;
}
.feedback-type {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: bold;
}
.each-type {
  font-size: 16px;
  background: white;
  padding: 4px 8px;
  border-radius: 4px;
}
.feedback-checks {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #333;
  gap: 8px;
  line-height: 2;
}
.feedback-checks input[type='checkbox'] {
  accent-color: #4caf50;
  align-items: center;
  width: 16px;
  height: 16px;
  min-width: 18px;
  cursor: pointer;
  margin-right: 10px;
}
.check-item {
  display: flex;
  align-items: flex-start;
}
.check-item label {
  margin-left: 5px;
}
.details {
  font-size: 13px;
  color: #555;
  line-height: 1.4;
}
.modify-button {
  background-color: #ae778f;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  letter-spacing: 2px;
}
.modify-button:hover {
  background-color: #844861;
}
.slidePage {
  background-color: #e0e0e0; /* 이미지의 중앙 회색 영역 */
  margin-top: 35px;
  margin-bottom: 20px;
  width: 888px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slidePage img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 박스 안에 비율 유지하며 맞춤 */
}
.reviewPageBottom {
  display: flex;
  justify-content: space-between;
}

.score-section {
  display: flex;
  gap: 30px;
  color: #555;
}
.score-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-label {
  font-size: 14px;
  margin-bottom: 5px;
}
.score-value {
  font-size: 18px;
  font-weight: bold;
}
.script-section {
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.script-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.edit-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
.reviewOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.reviewLoader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid transparent;
  position: relative;
  animation: spin 1.2s linear infinite, colorShift 3s ease-in-out infinite;
  border-top-color: #7a8cff; /* 초기 색*/
  border-right-color: #7a8cff;
  box-shadow: 0 0 30px rgba(150, 160, 255, 0.4);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorShift {
  0% {
    border-top-color: #7a8cff;
    border-right-color: #7a8cff;
    box-shadow: 0 0 30px rgba(150, 160, 255, 0.4);
  }
  25% {
    border-top-color: #ae78df;
    border-right-color: #ae78df;
    box-shadow: 0 0 30px rgba(174, 120, 223, 0.4);
  }
  50% {
    border-top-color: #d485a8;
    border-right-color: #d485a8;
    box-shadow: 0 0 30px rgba(212, 133, 168, 0.4);
  }
  75% {
    border-top-color: #e09076;
    border-right-color: #e09076;
    box-shadow: 0 0 30px rgba(224, 144, 118, 0.4);
  }
  100% {
    border-top-color: #7a8cff;
    border-right-color: #7a8cff;
    box-shadow: 0 0 30px rgba(150, 160, 255, 0.4);
  }
}
