.selectContainer {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 220, 220, 0.7);
  padding: 20px 50px;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.selectContainer p {
  display: inline-block;
  align-self: center;
  margin-bottom: 30px;
  font-weight: 500;
  color: #333;
}
.checklist-layout {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  gap: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  color: #333;
}
.checklist-item.parent {
  font-weight: 500;
}
.checklist-item input[type='checkbox'] {
  accent-color: #4caf50;
  align-items: center;
  width: 18px;
  height: 18px;
  min-width: 18px;
  cursor: pointer;
  margin-right: 10px;
}
.checklist-item .icon {
  font-weight: 800;
  font-size: 20px;
  margin-left: 5px;
  color: #888;
}
.group-wrapper {
  display: flex;
  flex-direction: column;
}
.sub-checklist {
  display: flex;
  gap: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sub-checklist .checklist-item {
  font-size: 15px;
  font-weight: 400;
}
.single-items-group {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.reviewBtn {
  display: inline;
  position: absolute;
  top: 42%;
  left: 72%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 15px 25px;
  background-color: #ae778f;
  border: none;
  color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}
.reviewBtn:hover {
  background-color: #975772;
}
