.slidebar {
  width: 200px;
  padding: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  background: #c1b0b0;
  height: 92vh;
  position: fixed;
}
.eachSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  cursor: pointer;
  background: none;
}
.eachSlide:hover {
  background: rgb(158, 139, 139);
}
.eachSlide img {
  width: 100%;
  display: block;
  margin-top: 10px;
}
.eachSlide p {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}
