nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* 화면 전체 너비 채우기 */
  background-color: #ae778f;
  z-index: 1000;
}
.nav-container {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav-item {
  position: relative;
  padding: 15px;
  cursor: pointer;
}
.nav-item:hover {
  background-color: #844861;
}
.userName {
  background-color: transparent;
  cursor: default;
  display: inline-block;
}
.nav-item:hover .userName {
  background-color: transparent !important;
}
.nav-item:hover .submenu {
  display: flex;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.profile {
  margin-left: auto; /* 오른쪽 끝으로 밀기 */
  color: white;
}
.profile a {
  display: inline-block;
  padding: 15px;
}
.profile a:hover {
  background-color: #844861;
}
.submenu {
  display: none;
  position: absolute;
  top: 100%; /* 부모 밑에 나오게*/
  left: 0;
  background: rgba(162, 162, 162, 0.503);
  list-style: none;
  margin: 0;
  padding: 10px;
  min-width: 150px;
  min-height: 500px;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
}
.submenu li {
  cursor: pointer;
  list-style: none;
  text-align: centor;
  padding: 10px;
  background: rgba(121, 121, 121, 0.535);
  color: white;
}
.submenu .list {
  min-height: 300px;
}
.submenu .all {
  font-size: 15px;
  text-align: center;
}
.submenu .new {
  text-align: center;
  margin-top: auto; /*아래 끝쪽으로 밀기*/
}
