.fileSelect {
  position: absolute;
  top: 45%;
  padding: 5px;
  border: none;
  cursor: pointer;
  background-color: #e8e8e8;
}
.loadContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  gap: 100px;
}
.uploadP {
  position: absolute;
  top: 39%;
}
.dragLoad {
  background: #e2e2e2;
  box-shadow: 0 0 15px 3px #ae778fb3;
  color: #555;
  width: 600px;
  height: 350px;
  text-align: center;
  padding: 60px;
  box-sizing: border-box;
  display: flex; /* flex로 내부 정렬 */
  flex-direction: column; /* 텍스트 위, 이미지 아래 */
  align-items: center; /* 가로 가운데 정렬 */
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.buttonContainer button {
  background: rgba(200, 144, 167, 0.7);
  border-radius: 10px;
  width: 300px;
  height: 70px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 12pt;
  transition: transform 0.25s ease, box-shadow 0.25s ease,
    border-color 0.25s ease;
}
.buttonContainer button:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.25);
  border-color: #d4b4cd;
}

.uploaded-file {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  color: #333;
  flex-direction: row !important;
}
.file-icon {
  font-size: 60px;
  filter: brightness(1.05);
}
.remove-btn {
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  display: inline;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid transparent;
  position: relative;
  animation: spin 1.2s linear infinite, colorShift 3s ease-in-out infinite;
  border-top-color: #7a8cff; /* 초기 색 */
  border-right-color: #7a8cff;
  box-shadow: 0 0 30px rgba(150, 160, 255, 0.4);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorShift {
  0% {
    border-top-color: #7a8cff;
    border-right-color: #7a8cff;
    box-shadow: 0 0 30px rgba(150, 160, 255, 0.4);
  }
  25% {
    border-top-color: #ae78df;
    border-right-color: #ae78df;
    box-shadow: 0 0 30px rgba(174, 120, 223, 0.4);
  }
  50% {
    border-top-color: #d485a8;
    border-right-color: #d485a8;
    box-shadow: 0 0 30px rgba(212, 133, 168, 0.4);
  }
  75% {
    border-top-color: #e09076;
    border-right-color: #e09076;
    box-shadow: 0 0 30px rgba(224, 144, 118, 0.4);
  }
  100% {
    border-top-color: #7a8cff;
    border-right-color: #7a8cff;
    box-shadow: 0 0 30px rgba(150, 160, 255, 0.4);
  }
}
