.buttonContainer button {
  background: rgba(200, 144, 167, 0.7);
  border-radius: 10px;
  width: 300px;
  height: 70px;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.25);
  border: none;
  font-size: 12pt;
}
.fileSelect {
  position: absolute;
  top: 45%;
}
.loadContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  gap: 100px;
}
.dragLoad {
  background: #d9d9d9;
  border: 2px dashed #ccc;
  color: #555;
  width: 600px;
  height: 350px;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  display: flex; /* flex로 내부 정렬 */
  flex-direction: column; /* 텍스트 위, 이미지 아래 */
  align-items: center; /* 가로 가운데 정렬 */
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.dragLoad img {
  margin-top: 20px;
  width: 25px;
  height: 35px;
  filter: brightness(1.5);
}
.uploaded-file {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  color: #333;
  flex-direction: row !important;
}
.remove-btn {
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  display: inline;
}
