html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.app {
  height: 100vh;
  background: #f5f1f3;
  display: flex;
  justify-content: center;
}
.container {
  height: 100vh;
  background: #f5f1f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
